body {
	margin: 0px;
	padding: 0;
	width: 100%;
	height: 100%;
	border: none;
}

video {
	outline: none;
}

#player_div {
	position: absolute;
	height: 100%!important;
}

#player_div .jw-button-color.jw-toggle:not(.jw-icon-cast),
#player_div .jw-button-color:hover:not(.jw-icon-cast),
#player_div .jw-button-color:focus:not(.jw-icon-cast),
#player_div .jw-button-color.jw-toggle.jw-off:hover:not(.jw-icon-cast) {
	color: rgb(244, 117, 33)!important;
}

#player_div .jw-option.jw-active-option,
#player_div .jw-option:not(.jw-active-option):hover,
#player_div .jw-option:not(.jw-active-option):focus,
#player_div .jw-settings-content-item:hover,
#player_div .jw-nextup-tooltip:hover,
#player_div .jw-nextup-tooltip:focus,
#player_div .jw-nextup-close:hover {
	color: rgb(244, 117, 33)!important;
}

.jw-progress {
	background-color: rgb(244, 117, 33)!important;
}

.loading_container {
	background-color: rgb(244, 117, 33);
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	display: flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	align-items: stretch;
	-webkit-align-items: stretch;
	padding: 20px;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

.loading_icon {
	height: 30px;
	width: 30px;
	margin-right: 20px;
	flex: 0 0 auto;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	-moz-flex: 0 0 auto;
	align-self: center;
	-webkit-align-self: center;
}

.loading_text_container {
	display: flex;
	flex: 1 1 auto;
	flex-flow: column;
	margin: 0;
	overflow-y: auto;
	padding: 0;
}

.loading_text {
	text-align: start;
	color: #FFF;
	font: 14px/1.35 Arial, Helvetica, sans-serif;
}

.corta_linha {
	display: block;
}

.creator-message span {
	font-size: 13px;
	color: white;
}

.creator-message {
	display: none;
	font-family: 'Roboto', sans-serif;
	background-color: #323232;
	padding: 12px 12px;
        align-items: center;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}